.container{
   height: 100vh;
   width: 100vw;
   background-color: aqua;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   background-image: url("/public/76aa24bf1e433a13444c18c5df7b839b.gif");
   background-repeat: repeat;
   background-size: 100%;
}

.container-filho{
    height: 50vh;
    width: 50vw;
    background-color: chocolate;

    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    border: 5px solid rgb(233, 136, 9);
    box-shadow: 10px 10px 10px -5px #050505;
    border-radius: 20px;

}

.fundo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 100%;
    background-image: url("/public/grass-tiles-seamless-pixel-retro-260nw-1580846293.webp");
    background-size: cover;
}


.wrapper {
    display: flex;
    justify-content: center;
  }
  
  .cta {
      display: flex;
      padding: 10px 45px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      color: white;
      background: #6225E6;
      transition: 1s;
      box-shadow: 6px 6px 0 black;
      transform: skewX(-15deg);
  }
  
  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
  }
  
  .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
  }
  
  .cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
  }
  
    span {
      transform: skewX(15deg) 
    }
  
    span:nth-child(2) {
      width: 20px;
      margin-left: 30px;
      position: relative;
      top: 12%;
    }
    
  
  path.one {
      transition: 0.4s;
      transform: translateX(-60%);
  }
  
  path.two {
      transition: 0.5s;
      transform: translateX(-30%);
  }
  
  .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
      0% {
          fill: white;
      }
      50% {
          fill: #FBC638;
      }
      100% {
          fill: white;
      }
  }


  @media screen and (min-width: 275px ) and (max-width: 700px),   (max-width: 440px), (min-width: 375px ) and (max-width: 500px), (min-width: 500px ) and (max-width: 800px), (min-width: 600px ) and (max-width: 1000px){
    .cta {
        padding: 5px 22px;
        font-size: 20px;
        background: #6225E6;
        box-shadow: 3px 3px 0 black;
    }
  }